<table>
  <tr>
    <th>名稱</th>
    <td><%= @recipe.name %></td>
  </tr>
  <tr>
    <th>簡介</th>
    <td><%= @recipe.description %></td>
  </tr>
  <tr>
    <th>所需時間</th>
    <td><%= @recipe.time %></td>
  </tr>
  <tr>
    <th>份數</th>
    <td><%= @recipe.quantity %></td>
  </tr>
</table>