<div class="show_recipes_place">
  <% @recipes.each do |recipe| %>
    <div class="recipe_item">
      <%= link_to recipe_path(recipe.id) do %>
        <%= image_tag recipe.image.middle.url %>
      <% end %>
    </div>
  <% end %>  
</div>
