.form_section{
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  .ingredient_input{
    display: flex;
  }
  .upload_section{
    background-color: grey;
    .recipe_img{
      
    }
    .default_image{
      max-height: 50%;  
      max-width: 50%; 
      width: auto;
      height: auto;
    }
  }
  .step_form_group{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    
    .step_image_upload_section{
      width: 35%;
      height: 200px;
      overflow: hidden;
      .step_default_image{
        max-height: 100%;  
        max-width: 100%; 
        width: auto;
        height: auto;
      }
    }
    .step_description_section{
      width: 60%;
      
      .step_sequence{
        text-align: left;
        font-size: 45px;
        font-weight: 600;
      }
      .step_description{
        height: 70%;
      }
    }
  }
}

.ingredient_section{
  margin-bottom: 20px;
  .add_ingredient_section{
    text-align: center;
    .add_ingredient_btn{
    }
  }
}
.step_section{
  .add_step_section{
    text-align: center;
    .add_step_btn{
    }
  }
}